NODE_ENV=development
PORT=3000
HOST=0.0.0.0

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=sigma_mvp
DB_USER=root
DB_PASSWORD=
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=true

JWT_SECRET=change-this-secret
CORS_ORIGIN=http://localhost:5173
UPLOAD_DIR=uploads

SIMA_QR_TTL_SECONDS=120
SIMA_GEO_LATITUD_CENTRO_CTPI=2.4832482
SIMA_GEO_LONGITUD_CENTRO_CTPI=-76.5617734
SIMA_GEO_RADIO_PERMITIDO_METROS=200
SIMA_GEO_PRECISION_MAXIMA_METROS=80
